<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DATALINE</title>
  <link rel="shortcut icon" href="https://res.cloudinary.com/adesanza/image/upload/v1611150220/datalinelogo_ml1ufh.svg" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/home.css">
    
</head>
<body>
  <div class="container">
      <div class="bg-img">
        <nav class="navbar navbar-expand-sm  navbar-light">
        <a class="navbar-brand" href="#"><img src="https://res.cloudinary.com/adesanza/image/upload/v1611150220/datalinelogo_ml1ufh.svg" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav" style="margin-left: auto;">
            <li class="nav-item">
              <a class="nav-link active" href="#" id="navs" class="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="navs">Features</a>
            </li>
            <li>
              <button class="homeb"><a href="/predict" class="start">Get Started</a></button>
            </li>    
          </ul> 
        </div>  
      </nav>
        <div class="row">
            <div class="col-md-6 col-12-sm-12">
              <div>
                <div class="grow">
                <span class="span1">Grow </span>your<br>Restuarant with Advanced Prediction<span class="span1">.</span>
                </div>
                  <p>DataLine is a sales prediction app that lets restaurant owners<br>and managers predict sales and grow their business</p>
                <div>
                  <button class="homeb"><a href="/predict" class="start2">Get Started</a></button>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <img src="https://res.cloudinary.com/adesanza/image/upload/v1611146117/Group_122_hfwbwo.svg" alt="" width="100%" height="440px">
            </div>
        </div>
      </div>
            <h3 class="feature">Features</h3>
            <div class="row">
              <div class="col-md-4">
                <div class="feature1">
                  <center>
                    <span class="iconify" data-icon="ant-design:line-chart-outlined" data-inline="false"></span>
                <h5 class="sales">Sales</h5>
                  </center>
                <p class="text">Sell smarter and speed up growth <br>
                  with the #1 prediction app in <br>
                  the market</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature1">
                  <center>
                    <span class="iconify" data-icon="bi:people" data-inline="false" id="iconify2"></span>
                <h5 class="sales">Management</h5>
                  </center>
                <p class="text">Make smarter decisions about <br>
                  inventories and staff engagement </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature1">
                  <center>
                    <span class="iconify" data-icon="ant-design:heart-outlined" data-inline="false" id="iconify3"></span>
                <h5 class="sales">Service</h5>
                  </center>
                <p class="text">Make customers happy faster and <br>
                  build loyalty across all brands</p>
                </div>
              </div>
            </div>
        </div>
      <div class="container-fluid footer">
        <div class="row">
          <div class="col-lg-6 col-sm-12 ">
            <img src="https://res.cloudinary.com/adesanza/image/upload/v1611157108/footerpic_kaqogs.svg" alt="">
            <div class="socials pt-3">
              <span class="iconify ml-3" data-icon="ant-design:twitter-circle-filled" data-inline="false"></span>
              <span class="iconify" data-icon="entypo-social:facebook-with-circle" data-inline="false"></span>
              <span class="iconify" data-icon="ant-design:instagram-outlined" data-inline="false"></span>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 d-flex justify-content-lg-end mb-5">
            <div class="app">
              <img src="https://res.cloudinary.com/adesanza/image/upload/v1611157295/appstore_slcugu.png" alt="" width="100px" height="30px"><img src="https://res.cloudinary.com/adesanza/image/upload/v1611157337/googleplay_tlf7vf.png" alt="" width="100px" height="30px">
            </div>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-6">
            <div class="input-field"><span class="news">Subscribe To Our Newsletter</span> 
              <input type="email" name="protein" class="inputfield" id="protein" placeholder="Enter Email">
              <button class="btn-block btn-dark">Subscribe</button>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12 d-flex justify-content-lg-end">
            <div class="terms">
              <h6>Privacy</h6>
              <h6>Accessibility</h6>
              <h6>Terms</h6>
            </div>
          </div>
        </div>
      </div>
    

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</body>
</html>