<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict</title>
    <link rel="shortcut icon" href="https://res.cloudinary.com/adesanza/image/upload/v1611150220/datalinelogo_ml1ufh.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/predict.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed">
        <a href="/"> <img src="https://res.cloudinary.com/adesanza/image/upload/v1611150220/datalinelogo_ml1ufh.svg" alt="" height="50px"> </a>
    </nav>
    <div class="sidebar">
        <a class="active" href="#"><h5> Start</h5></a>
    </div>
    <div class="content">
        <div class="container">
            <h3 class="sales">Get your Sales Prediction</h3>
            <form id="myForm">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <select name="product" id="product">
                            <option value="2 person" class="options">plantain</option>
                            <option value="z_amazon">rice</option>
                            <option value="family">yam</option>
                            <option value="add_on">ate</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-4">
                        <select name="heat" id="heat">
                            <option value="optional_heat">beans</option>
                            <option value="no_heat">rice</option>
                            <option value="high">yam</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-4">
                        <select name="cooking" id="cooking">
                            <option value="time_level_4">morning</option>
                            <option value="time_level_5">afternoon</option>
                            <option value="time_level_3">night</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <select name="dish" id="dish">
                            <option value="fish">morning</option>
                            <option value="no protein">afternoon</option>
                            <option value="poultry products">lover</option>
                            <option value="meats">omer</option>
                            <option value="plant products">dayer</option>
                            <option value="dairy products">day</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-4">
                        <select name="cuisine" id="cuisine">
                            <option value="fish">beans</option>
                            <option value="veggie">rice</option>
                            <option value="meat">yam</option>
                            <option value="wine_and_dessert">yam</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-4">
                        <select name="protein" id="protein-class">
                            <option value="Asian">beans</option>
                            <option value="North American">rice</option>
                            <option value="mediterranean">yam</option>
                            <option value="European">yam</option>
                            <option value="south American">night</option>
                            <option value="japanese">night</option>
                            <option value="fusion">night</option>
                            <option value="north_african">night</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="input-field">Calories
                            <input type="number" name="task" class="inputfield" id="calories" placeholder="0.0 - 999" required>
                        </div>
                        
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="input-field">Carbs
                            <input type="number" name="task" class="inputfield" id="carbs" placeholder="0.0 - 999" required>
                          </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="input-field ">Fat
                            <input type="number" name="fat" class="inputfield" id="fat" placeholder="0.0 - 999" required>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-field">Number of Ingredients
                            <input type="number" name="Ingredients" class="inputfield" id="ingredients" placeholder="0 - 999" required>
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-field">Protein
                            <input type="number" name="protein" class="inputfield" id="protein" placeholder="0.0 - 999" required>
                          </div>
                    </div>
                </div>
                <center> 
                <button type="submit" id="predict" class="start2">Predict</button>
                </center>
            </form>
            
        </div>

    </div>


    
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <script src="/js/predict.js"></script>
</body>
</html>