<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict</title>
    <link rel="shortcut icon" href="https://res.cloudinary.com/adesanza/image/upload/v1611150220/datalinelogo_ml1ufh.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/predict.css">
</head>
<body>
   
    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed">
        <a href="/"> <img src="https://res.cloudinary.com/adesanza/image/upload/v1611150220/datalinelogo_ml1ufh.svg" alt="" height="50px"> </a>
    </nav>
    <div class="sidebar">
        <a class="active" href="#"><h5> Start</h5></a>
    </div>
    <div class="content">
        <div class="container">
            <h3 class="sales">Get your Sales Prediction</h3>
            <form id="myForm">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <select name="product" id="product">
                            <option value="2 person" class="options">Two Person</option>
                            <option value="z_amazon">Single Serving</option>
                            <option value="family">Family Serving</option>

                        </select>
                    </div>
                    <div class="col-12 col-lg-4">
                        <select name="heat" id="heat">
                            <option value="optional_heat">Medium Heat</option>
                            <option value="no_heat">No Heat</option>
                            <option value="high">High Heat</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-4">
                        <select name="cooking" id="cooking">
                            <option value="time_level_4">15Mins- 45Mins</option>
                            <option value="time_level_5">45Mins and Above</option>
                            <option value="time_level_3">0 - 15Mins</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <select name="protein-class" id="protein-class">
                            <option value="fish">Fish</option>
                            <option value="no protein">No Protein</option>
                            <option value="poultry products">Poultry Products</option>
                            <option value="meats">Meat</option>
                            <option value="plant products">Plant Products</option>
                            <option value="dairy products">Dairy Products</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-4">
                        <select name="dish" id="dish">
                            <option value="veggie">Vegetables</option>
                            <option value="fish">Fish</option>
                            <option value="meat">Meat</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-4">
                        <select name="cuisine" id="cuisine">
                            <option value="Asian">Asian</option>
                            <option value="North American">North American</option>
                            <option value="European">European</option>
                            <option value="south American">South American</option>
                            <option value="japanese">Japanese</option>
                            <option value="north_african">North African</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="input-field"><span class="text"> Calories (Kj)</span>
                            <input type="number" name="task" class="inputfield" id="calories" placeholder="0 - 2000" required>
                        </div>
                        
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="input-field"><span class="text">Carbs (g)</span> 
                            <input type="number" name="task" class="inputfield" id="carbs" placeholder="0 - 500" required>
                          </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="input-field"><span class="text">Fat (g)</span> 
                            <input type="number" name="fat" class="inputfield" id="fat" placeholder="0.0 - 300" required>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-field"><span class="text">Number of Ingredients</span> 
                            <input type="number" name="Ingredients" class="inputfield" id="ingredients" placeholder="0 - 11" required>
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-field"><span class="text">Protein</span> 
                            <input type="number" name="protein" class="inputfield" id="protein" placeholder="0.0 - 400" required>
                          </div>
                    </div>
                </div>
                <center> 
                <button type="submit" id="predict" class="start2">Predict</button>
                </center>
            </form>
            
        </div>
        
 
    </div>
    <!-- MODAL -->
 <div class="modal fade" id="predictModal" tabindex="-1" aria-labelledby="predictModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" >
        <div class="modal-content">
            <div class="modal-body" id="modalBody">
                
            </div>
            
          </div>
      </div>
</div>
<!-- END OF MODAL -->


    
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="/js/predict.js"></script>
</body>
</html>